<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M M</title>
</head>

<link type="text/css" rel="stylesheet" href="../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../assets/lib/fontawesome/css/all.min.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/style.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/nav.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/woolentor-widgets.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/frontend.min.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/post-915.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/style2.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/htflexboxgrid.css" />
<link type="text/css" rel="stylesheet" href="../assets/lib/simple-line-icons/css/simple-line-icons.css" />

<link type="text/css" rel="stylesheet" href="../assets/css/detail/css/prettyPhoto.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/detail/css/woocommerce-layout.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/detail/css/woocommerce.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/detail/css/photoswipe/default-skin/default-skin.min.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/detail/css/prettyPhoto.css" />
<link rel="stylesheet" href="../assets/css/sharedLayout.css">

<!-- <link type="text/css" rel="stylesheet" href="../assets/css/furniture.min.css"> -->
<style>
    img {
        object-fit: cover;
        height: 100% !important;
    }
    
    .fit-black-img {
        width: 97%;
        height: 100%;
        background: none;
        position: absolute;
    }
    
    .fit-black-img:hover {
        background: #0000004a;
    }
    
    .product-btn-img {
        position: absolute;
        top: 40%;
        left: 40%;
        background-color: white;
        color: grey;
        width: 9rem;
        height: 4rem;
        font-size: 18px;
    }
    
    .product-btn-img:hover {
        background: transparent !important;
        border: 2px white solid;
        color: white;
    }
</style>

<body>
    <header id="masthead" class="site-header standart">
        <!-- Logo & hgroup (start)-->
        <div style="box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);color: whitesmoke;background: #1f2226;">
            <div class="container">
                <div class="row p-2 ">
                    <div class="ht-col-md-7 ht-col-xs-12">
                        <div class="row info text-center">
                            <div class="ht-col-md-3 ht-col-xs-6">info@email.com</div>
                            <div class="ht-col-md-4 ht-col-xs-6">+999-987654321</div>
                        </div>
                    </div>
                    <div class="ht-col-md-5 ht-col-xs-12">
                        <div class="row  justify-content-evenly ">
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on facebook" style="color: whitesmoke;"><i class="fab fa-facebook-f fs-4 " ></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on telegram" style="color: whitesmoke;"><i class="fab fa-instagram fs-4"></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on linkedin" style="color: whitesmoke;"><i class="fab fa-linkedin fs-4"></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on twitter" style="color: whitesmoke;"><i class="fab fa-twitter fs-4"></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on pinterest" style="color: whitesmoke;"><i class="fab fa-pinterest fs-4"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row " style="box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1)" id="navbar">
            <div class="col-md-12 text-center mb-3 mt-2 nav-search-mobile">
                <img src="../assets/imgs/MM.png" alt="MM Collection" width="200">
            </div>
            <div class="col-md-12 col-sm-12 main-menu">
                <nav class="navbar navbar-expand-lg primary-nav bordered bordered-right">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars"></i>
                </button>
                        <div class="justify-content-around collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mega-menu max-mega-menu mega-menu-horizontal mega-no-js d-flex justify-content-evenly align-items-center w-100" id="mega-menu-primary-nav" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled"
                                data-effect-speed-mobile="0" data-panel-width=".logo-wrapper .container" data-panel-inner-width=".logo-wrapper .container" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="accordion"
                                data-breakpoint="800" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                <li class="p-2 nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-3132 mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-4398"
                                    id="nav-item-logo">
                                    <a class="active mega-menu-link" aria-current="page" href="landingpage.html">
                                        <img src="../assets/imgs/MM.png" alt="MM Collection" width="200"></a>
                                </li>
                                <li class="p-2 nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-3132 mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-4398"
                                    id="mega-menu-item-4398">
                                    <a class="active mega-menu-link" aria-current="page" href="landingpage.html">Home</a
                      >
                    </li>
                    <li
                      id="mega-menu-item-4399"
                      class="nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4399 p-2"
                    >
                      <a class="mega-menu-link" href="#">About us</a>
                                </li>
                                <li id="mega-menu-item-4399" class="p-2 nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4399 conact-us">
                                    <a class="mega-menu-link" href="#">Contact us</a>
                                </li>
                                <li id="mega-menu-item-4397" class="p-2 mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4397">
                                    <a class="mega-menu-link" href="home.html" tabindex="0">Clothes</a
                      >
                    </li>
                    <li
                      class="p-2 mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4397"
                    >
                      <a
                        class="mega-menu-link"
                        href="furniture.html"
                        tabindex="0"
                        >Furniture</a
                      >
                    </li>
                    <li
                      class="p-2 mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout"
                    >
                      <div class="search-navbar nav-search">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="search for everything you need is here.."
                          style="width: 25rem"
                        />
                        <i class="fas fa-search fs-5 icon-search"></i>
                      </div>
                      <div class="search-navbar nav-search-mobile">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="search..."
                        />
                        <i class="fas fa-search fs-5 icon-search"></i>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- Logo & hgroup (end)-->
    </header>

    <a href="store.html">
        <div class="shopping-cart">
            <button class="btn btn-dark text-center" >
              <i class="fas fa-shopping-cart fs-2"></i>
              <span class="quantity">1</span>
            </button>
        </div>
    </a>

                                    <div class="container-fluid mb-5">
                                        <div class="row">
                                            <div class="ht-col-md-8 img-furniture ht-col-xs-6 mt-4" style="position: relative">
                                                <div class="fit-black-img"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-1.jpg" alt="" />
                                            </div>
                                            <div class="ht-col-md-4 img-furniture ht-col-xs-6 mt-4" style="position: relative">
                                                <div class="fit-black-img" style="width: 94%"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-2.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="ht-col-md-4 img-furniture ht-col-xs-6 mt-4" style="position: relative">
                                                <div class="fit-black-img" style="width: 94%"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-3.jpg" alt="" />
                                            </div>
                                            <div class="ht-col-md-4 img-furniture ht-col-xs-6 mt-4" style="position: relative">
                                                <div class="fit-black-img" style="width: 94%"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-4.jpg" alt="" />
                                            </div>
                                            <div class="ht-col-md-4 img-furniture ht-col-xs-12 mt-4" style="position: relative">
                                                <div class="fit-black-img" style="width: 94%"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-5.jpg" alt="" />
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="ht-col-md-4 img-furniture ht-col-xs-12 mt-4" style="position: relative">
                                                <div class="fit-black-img" style="width: 94%"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-6.jpg" alt="" />
                                            </div>
                                            <div class="ht-col-md-8 img-furniture ht-col-xs-12 mt-4" style="position: relative">
                                                <div class="fit-black-img"></div>
                                                <!-- <button class="product-btn-img">Click Me</button> -->
                                                <img src="../assets/imgs/furniture/furniture-7.jpg" alt="" />
                                            </div>
                                        </div>
                                    </div>

                                    <footer id="colophon" class="footer_area_two mt-5">
                                        <div class="footer-widgets-area">
                                            <div class="ht-container">
                                                <div class="ht-row">
                                                    <div class="ht-col-xs-12">
                                                        <div class="footer-menu-area">
                                                            <ul id="primary-menu" class="menu">
                                                                <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-449">
                                                                    <a href="#">Home</a>
                                                                </li>
                                                                <li id="menu-item-447" class="ms-5 menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-447">
                                                                    <a href="#">About us</a>
                                                                </li>
                                                                <li id="menu-item-450" class="ms-5 menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-450">
                                                                    <a href="#">Contact us</a>
                                                                </li>
                                                                <li id="menu-item-451" class="ms-5 menu-item menu-item-type-custom menu-item-object-custom menu-item-451">
                                                                    <a href="furniture.html">Furniture</a>
                                                                </li>
                                                                <li id="menu-item-448" class="ms-5 menu-item menu-item-type-post_type menu-item-object-page menu-item-448">
                                                                    <a href="home.html">Clothes</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="footer-copyright-area">
                                            <div class="ht-container">
                                                <div class="ht-row ht-middle-md">
                                                    <div class="ht-col-md-4 ht-col-sm-6 ht-col-xs-12 ht-d-flex ht-center-xs">
                                                        <div class="footer-social-media">
                                                            <ul>
                                                                <li><a href="#">Facebook</a></li>
                                                                <li><a href="#">Twitter</a></li>
                                                                <li><a href="#">Linkedin</a></li>
                                                                <li><a href="#">Instragram</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="ht-col-md-4 ht-col-sm-6 ht-d-flex ht-center-md ht-end-sm ht-center-xs ht-col-xs-12">
                                                        <div class="copyright-txt">
                                                            Copyright &copy; 2022 MM All Right Reserved.
                                                        </div>
                                                        <!-- .site-info -->
                                                    </div>
                                                    <div class="ht-col-md-4 ht-d-flex ht-end-md ht-center-sm ht-col-sm-12 ht-center-xs ht-col-xs-12"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </footer>

                                    <script src="../assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                                    <script src="../assets/lib//jquery/dist/jquery.min.js"></script>
                                    <script src="../assets/lib/fontawesome/js/all.min.js"></script>

                                    <script>
                                        // When the user scrolls the page, execute myFunction
                                        window.onscroll = function() {
                                            myFunction();
                                        };

                                        // Get the navbar
                                        var navbar = document.getElementById("navbar");

                                        // Get the offset position of the navbar
                                        var sticky = navbar.offsetTop;

                                        // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
                                        function myFunction() {
                                            if (window.pageYOffset >= sticky) {
                                                navbar.classList.add("sticky");
                                            } else {
                                                navbar.classList.remove("sticky");
                                            }
                                        }
                                    </script>

                                    <script>
                                        $(document).on("mouseover", ".section-counter", () => {
                                            const counters = document.querySelectorAll(".animate-counter");
                                            const speed = 300;

                                            counters.forEach((counter) => {
                                                const animate = () => {
                                                    const value = +counter.getAttribute("counter");
                                                    const data = +counter.innerText;

                                                    const time = value / speed;
                                                    if (data < value) {
                                                        counter.innerText = Math.ceil(data + time);
                                                        setTimeout(animate, 1);
                                                    } else {
                                                        counter.innerText = value;
                                                    }
                                                };

                                                animate();
                                            });
                                        });
                                    </script>
                                    <script>
                                        $(".category-section").ready((e) => {
                                            $(".category-section").addClass("category-animation");
                                        });
                                    </script>
</body>

</html>