<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M M</title>
</head>

<link type="text/css" rel="stylesheet" href="../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../assets/lib/fontawesome/css/all.min.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/style.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/nav.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/style2.css" />
<link type="text/css" rel="stylesheet" href="../assets/css/htflexboxgrid.css" />
<link rel="stylesheet" href="../assets/css/sharedLayout.css">

<body>
    <header id="masthead" class="site-header standart">
        <!-- Logo & hgroup (start)-->
        <div style="box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);color: whitesmoke;background: #1f2226;">
            <div class="container">
                <div class="row p-2 ">
                    <div class="ht-col-md-7 ht-col-xs-12">
                        <div class="row info text-center">
                            <div class="ht-col-md-3 ht-col-xs-6">info@email.com</div>
                            <div class="ht-col-md-4 ht-col-xs-6">+999-987654321</div>
                        </div>
                    </div>
                    <div class="ht-col-md-5 ht-col-xs-12">
                        <div class="row  justify-content-evenly ">
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on facebook" style="color: whitesmoke;"><i class="fab fa-facebook-f fs-4 " ></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on telegram" style="color: whitesmoke;"><i class="fab fa-instagram fs-4"></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on linkedin" style="color: whitesmoke;"><i class="fab fa-linkedin fs-4"></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on twitter" style="color: whitesmoke;"><i class="fab fa-twitter fs-4"></i></a></div>
                            <div class="ht-col-md-1 ht-col-xs-1"><a href="#" target="_blank" title="Connect us on pinterest" style="color: whitesmoke;"><i class="fab fa-pinterest fs-4"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row " style="box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1)" id="navbar">
            <div class="col-md-12 text-center mb-3 mt-2 nav-search-mobile">
                <img src="../assets/imgs/MM.png" alt="MM Collection" width="200">
            </div>
            <div class="col-md-12 col-sm-12 main-menu">
                <nav class="navbar navbar-expand-lg primary-nav bordered bordered-right">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fas fa-bars"></i>
                </button>
                        <div class="justify-content-around collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mega-menu max-mega-menu mega-menu-horizontal mega-no-js d-flex justify-content-evenly align-items-center w-100" id="mega-menu-primary-nav" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled"
                                data-effect-speed-mobile="0" data-panel-width=".logo-wrapper .container" data-panel-inner-width=".logo-wrapper .container" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="accordion"
                                data-breakpoint="800" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                <li class="p-2 nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-3132 mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-4398"
                                    id="nav-item-logo">
                                    <a class="active mega-menu-link" aria-current="page" href="landingpage.html">
                                        <img src="../assets/imgs/MM.png" alt="MM Collection" width="200"></a>
                                </li>
                                <li class="p-2 nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-3132 mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-4398"
                                    id="mega-menu-item-4398">
                                    <a class="active mega-menu-link" aria-current="page" href="landingpage.html">Home</a
                      >
                    </li>
                    <li
                      id="mega-menu-item-4399"
                      class="nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4399 p-2"
                    >
                      <a class="mega-menu-link" href="#">About us</a>
                                </li>
                                <li id="mega-menu-item-4399" class="p-2 nav-item mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4399 conact-us">
                                    <a class="mega-menu-link" href="#">Contact us</a>
                                </li>
                                <li id="mega-menu-item-4397" class="p-2 mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4397">
                                    <a class="mega-menu-link" href="home.html" tabindex="0">Clothes</a
                      >
                    </li>
                    <li
                      class="p-2 mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4397"
                    >
                      <a
                        class="mega-menu-link"
                        href="furniture.html"
                        tabindex="0"
                        >Furniture</a
                      >
                    </li>
                    <li
                      class="p-2 mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout"
                    >
                      <div class="search-navbar nav-search">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="search for everything you need is here.."
                          style="width: 25rem"
                        />
                        <i class="fas fa-search fs-5 icon-search"></i>
                      </div>
                      <div class="search-navbar nav-search-mobile">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="search..."
                        />
                        <i class="fas fa-search fs-5 icon-search"></i>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <!-- Logo & hgroup (end)-->
    </header>

    <div class="container mt-5">
        <h2 class="text-center mb-2">Shopping Cart</h2>

<div class="card p-4">
    <table class="table text-center">
        <thead class="thead-dark">
            <th>image</th>
            <th>product name</th>
            <th>quantity</th>
            <th>price</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td>
                <img src="../assets/imgs/bag/bag-1.png" alt="bag1" width="60">  
                </td>
                <td>
                    hand bag awesome
                </td>
                <td >
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-sub">-</button>
                        </div>
                        <div class="col-md-6 mt-xs-1 mb-xs-1">
                            <input type="number" min="0" value="5" class="form-control text-center" width="25">
                        </div>
                        <div class="col-md-3">
                        <button class="btn btn-dark btn-add">+</button>
                        </div>
    
                    </div>
                </td>
                <td>
                    <span>1500 $</span>
                </td>
                <td>
                    <div class="text-danger cursor-pointer remove-product">X</div>
                </td>
            </tr>
            <tr>
                <td>
                <img src="../assets/imgs/bag/bag-3.png" alt="bag1" width="60">  
                </td>
                <td>
                    hand bag awesome
                </td>
                <td >
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-sub ">-</button>
                        </div>
                        <div class="col-md-6 mt-xs-1 mb-xs-1">
                            <input type="number" min="0" value="5" class="form-control text-center" width="25">
                        </div>
                        <div class="col-md-3">
                        <button class="btn btn-dark btn-add">+</button>
                        </div>
    
                    </div>
                </td>
                <td>
                    <span>1500 $</span>
                </td>
                <td>
                    <div class="text-danger cursor-pointer remove-product">X</div>
                </td>
            </tr>
            <tr>
                <td>
                <img src="../assets/imgs/bag/bag-2.png" alt="bag1" width="60">  
                </td>
                <td>
                    hand bag awesome
                </td>
                <td >
                    <div class="row">
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-sub">-</button>
                        </div>
                        <div class="col-md-6 mt-xs-1 mb-xs-1">
                            <input type="number" min="0" value="5" class="form-control text-center" width="25">
                        </div>
                        <div class="col-md-3">
                        <button class="btn btn-dark btn-add">+</button>
                        </div>
    
                    </div>
                </td>
                <td>
                    <span>1500 $</span>
                </td>
                <td>
                    <div class="text-danger cursor-pointer  remove-product">X</div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row flex-row-reverse">
            <button class="btn btn-dark btn-add w-25">Checkout</button>
    </div>
</div>
    </div>

        <footer id="colophon" class="footer_area_two mt-5">
            <div class="footer-widgets-area">
                <div class="ht-container">
                    <div class="ht-row">
                        <div class="ht-col-xs-12">
                            <div class="footer-menu-area">
                                <ul id="primary-menu" class="menu">
                                    <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-449">
                                        <a href="#">Home</a>
                                </li>
                                <li id="menu-item-447" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-447">
                                    <a href="#">About us</a>
                                </li>
                                <li id="menu-item-450" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-450">
                                    <a href="#">Contact us</a>
                                </li>
                                <li id="menu-item-451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-451">
                                    <a href="furniture.html">Furniture</a>
                                </li>
                                <li id="menu-item-448" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-448">
                                    <a href="home.html">Clothes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        </div>

        <div class="footer-copyright-area">
            <div class="ht-container">
                <div class="ht-row ht-middle-md">
                    <div class="ht-col-md-4 ht-col-sm-6 ht-col-xs-12 ht-d-flex ht-center-xs">
                        <div class="footer-social-media">
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Twitter</a></li>
                                <li><a href="#">Linkedin</a></li>
                                <li><a href="#">Instragram</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="ht-col-md-4 ht-col-sm-6 ht-d-flex ht-center-md ht-end-sm ht-center-xs ht-col-xs-12">
                        <div class="copyright-txt">
                            Copyright &copy; 2022 MM All Right Reserved.
                        </div>
                        <!-- .site-info -->
                    </div>
                    <div class="ht-col-md-4 ht-d-flex ht-end-md ht-center-sm ht-col-sm-12 ht-center-xs ht-col-xs-12"></div>
                </div>
            </div>
        </div>
        </footer>

        <script src="../assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../assets/lib//jquery/dist/jquery.min.js"></script>
        <script src="../assets/lib/fontawesome/js/all.min.js"></script>

        <script>
            $(document).on('click', '.btn-add', (event) => {
                var tr = $(event.target).closest('tr');
                var input = tr.find('input');
                input.val(parseInt(input.val()) + 1);
            });

            $(document).on('click', '.btn-sub', (event) => {
                var tr = $(event.target).closest('tr');
                var input = tr.find('input');
                input.val(parseInt(input.val()) != 0 ? input.val() - 1 : input.val());
            });

            $(document).on('click', '.remove-product', (event) => {
                $(event.target).closest('tr').remove();
            });
        </script>

        <script>
            // When the user scrolls the page, execute myFunction
            window.onscroll = function() {
                myFunction();
            };

            // Get the navbar
            var navbar = document.getElementById("navbar");

            // Get the offset position of the navbar
            var sticky = navbar.offsetTop;

            // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
                if (window.pageYOffset >= sticky) {
                    navbar.classList.add("sticky");
                } else {
                    navbar.classList.remove("sticky");
                }
            }
        </script>
</body>

</html>