* {
    box-sizing: border-box;
}

.form-control {
    border-radius: 10px !important;
}

.btn-color {
    border-radius: 50%;
    height: 25px;
}

.font-font-awesome {
    font-family: "FontAwesome";
}

.search-navbar {
    position: relative;
}

.search-navbar input {
    border: none !important;
    border-bottom: 1px solid black !important;
    box-shadow: none !important;
}

.icon-search {
    top: 0%;
    right: 0;
    padding: 13px;
    position: absolute;
}

@media screen and (max-width: 906px) {
    .nav-search {
        display: none;
    }
    .nav-search-mobile {
        display: block !important;
    }
    footer {
        display: none;
    }
    .logo-navbar-left {
        display: block !important;
    }
    .logo-navbar-right {
        display: none !important;
    }
    #nav-item-logo {
        display: none !important;
    }
}

@media screen and (max-width: 1920px) {
    .logo-navbar-left {
        display: none !important;
    }
    .logo-navbar-right {
        display: block !important;
    }
    .nav-search-mobile {
        display: none;
    }
}

.font-navbar,
.info {
    font-family: fantasy;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100% !important;
}

#navbar {
    background: white;
    z-index: 1000000;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
}

.cursor-pointer {
    cursor: pointer;
}

html {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}